language: ruby

sudo: true

services:
  - redis-server
  - postgresql

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y postgresql-server-dev-all

rvm:
  - 2.4.1

script:
  - 'export PULL_REQUEST_ID=${TRAVIS_PULL_REQUEST} && bundle exec pronto run -f github_pr'
  - bundle exec rspec
